@media screen {
    // // Tokens Overview
    .tokens-overview-container {
        .form-inline {
            flex: 1 1 20%;
            flex-wrap: nowrap;
            white-space: nowrap;
        }

        .btn {
            white-space: nowrap;

            &.filter {
                min-width: 100px;
            }
        }

        input {
            min-width: 100px!important;
        }
    }

    // token scanning
    .tokens-container {
        .scan-token {
            width: 100%;
            height: 200px;
            font-size: 500%;
        }
    }
}

@media print {
    #tokens-overview-title {
        display: none;
    }
}