@media screen {
    li.flex-group {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    div.flex-group {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
    }
    div.panel.token {
        flex: 1;
        min-width: fit-content;
    }
    div.QR {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .stream_image {
        margin:auto;
    }
    .token-title {
        border-radius: 4px 4px 0 0;
    }

    // Tokens Overview
    .tokens-overview-container {
        #tokens-overview {
            display: grid;
        }
        #tokens-overview-title {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            .token-size .token-button {
                color: #000;
                margin: 0 10px;
            }
        }
    }
}

@media print {
    #tokens-overview-title {
        display: none;
    }
}