@media screen {
    div.token-overview {
        display: flex;
        flex-wrap: wrap;

        div.panel.token {
            flex: 1;
            min-width: fit-content;
            border-right: 0;
            box-shadow: 1px 0px 0px #e5e5e5;

            li.flex-group {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            .token-active {
                pointer-events: none;
            }
        }

        div.QR {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2px;

            .stream_image {
                margin:auto;
            }
        }
    }
    .token-title {
        border-radius: 4px 4px 0 0;
    }

    // Tokens Overview
    .tokens-overview-container {
        #tokens-overview {
            display: grid;
        }
        #tokens-overview-title {
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            .token-size .token-button {
                color: #000;
                margin: 0 10px;
            }
        }
    }
}

@media print {
    #tokens-overview-title {
        display: none;
    }
}