*egg-info
*pyc
/.coverage
/.mxmake
/.vscode
/build/
/constraints-mxdev.txt
/coverage
/dist/
/htmlcov
/node_modules/
/package-lock.json
/pnpm-lock.yaml
/requirements-mxdev.txt
/requirements.txt
/sources/
/var/
/venv/
__pycache__
